@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
nav {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    height: 100%;
}

nav ul {
    background-color: black;
    display: block;
    width: 250px;
    color: white;
    align-items: center;
    justify-content: space-around;
}
nav ul li {
    padding : 5px 0;
}

.logo {
    width: 100px;
}
.home-icon {
    width: 35px;
    background-color: black;
}
.search-icon {
    width: 35px;
    background-color: black;
}
.library-icon {
    width: 35px;
    background-color: black;
}
.create-playlist-icon {
    width: 35px;
    background-color: black;
}
.liked-pages-icon {
    width: 35px;
    background-color: black;
}
.logo-name {
    font-weight: bolder;
}
.logo-li {
    display: flex;
    align-items: center;
}
.li-home {
    display: flex;
    align-items: center;
}
.li-search {
    display: flex;
    align-items: center;
}
.li-library {
    display: flex;
    align-items: center;
}
.li-create-playlist {
    display: flex;
    align-items: center;
}
.li-liked-pages {
    display: flex;
    align-items: center;
}
.nav-container {
    min-height: 100%;
    width: 250px;
    background-color: black;
}

hr {
    background-color: #282828;
    height: 1px;
    margin: 8px 8px;
}

