@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}
.left-sidebar-nav {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    height: 100%;
}

.left-sidebar-nav-ul {
    padding: 10px;
    background-color: black;
    display: block;
    width: 250px;
    color: rgba(255, 255, 255, 0.644);
    align-items: center;
    justify-content: space-around;

}
.left-sidebar-nav-ul li {
    padding : 5px 0;
}

.logo {
    width: 100px;
}
.home-icon {
    width: 35px;
    background-color: black;
}
.search-icon {
    width: 35px;
}
.library-icon {
    width: 35px;
}
.create-playlist-icon {
    width: 35px;
    background-color: black;
}
.liked-pages-icon {
    width: 35px;
    background-color: black;
}
.logo-name {
    font-weight: bolder;
    cursor: pointer;
    color: white;
}
.logo-li {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.li-home {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.li-search {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.li-library {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.li-create-playlist {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.li-liked-pages {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-container {
    min-height: 100%;
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.side-bar-hr-nav-seperator {
    background-color: white;
    height: 1px;
    margin: 8px 8px;
}
.header {
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}   

.arrow-container {
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
}
.left-arrow {
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.right-arrow {
    background-color: rgba(0, 0, 0, 0.351);
    border-radius: 50%;
    margin: 5px;
    cursor: not-allowed;

}

.user-logged-in {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 40px;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;

}
.user-name-logged-in {
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}
.welcome-back-text {
    font-family: 'Montserrat', sans-serif;
    font-size:xx-large;
}
.page-content {
    width: 90%;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.749) , black);

}
.my-page-content {
    overflow: scroll;
    height: calc(100% - 80px);

}

.user-logged-icon {
    border-radius: 23px;
    border: 3px rgba(0,0,0,.7);
    background-color: #535353;
}

.last-heard-songs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 10px;
    grid-gap: 24px;
    width: 100%;
    justify-content: center;
}

   .play-icon {
    display: none;
}
    .last-heard-songs-item:hover .play-icon {
    display: inline;
    background-color: #1db954;
    border-radius: 50%;
    -webkit-transition: all 600ms ease;

    }
   .last-heard-songs-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px  rgba(0, 0, 0, 0.8);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;    
        font-size: 15px;
        width: 300px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
    }

    .last-heard-songs-item-container:hover {
        background-color: rgba(0, 0, 0, 0.701);
        -webkit-transition: all 600ms ease;
    }
   .song-name-container {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       height: 100%;
       margin: 15px;
       
   }
   .song-img {
       /* display: flex; */
       height: 80px;
       width: 80px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       border-radius: 10px;
       object-fit: cover;
    }
    .song-name {
        align-self: center;
        cursor: pointer;
    }
    .song-name:hover {
        text-decoration: underline;
    }

    .last-heard-songs-title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .last-heard-songs-container {
        display: block;
        margin: 50px;
        color: white;

    }

    /*
    Seuggested songs header
    */
    .suggested-songs-container {
        display: block;
        margin: 50px;
        color: white;
    }
    .suggested-songs-header {
        font-size: 32px;
    }
    .suggested-songs-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

    }
    .path-to-all-suggest-songs {
        font-size: 16px;
        font-family: MS Gothic,sans-serif;
        color: #b3b3b3;
        background: transparent;
    }
    .path-to-all-suggest-songs:hover {
        text-decoration: underline;
    }
    /*
    Seuggested songs grid
    */
    .suggest-songs-list-container-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 20px;    
    }

    .suggest-song-item {
        padding: 16px;
        align-items: center;
        justify-content: space-around;
        border-radius: 4px;
        background: #28282843;
        display: flex;
        cursor: pointer;
    }
    .suggest-song-item:hover {
        background: #161616;
        -webkit-transition: all 500ms ease;

    }
    .suggest-song-item-min-display {
        max-width: 150px

    }
    .suggest-song-img {
       height: 150px;
       width: 150px;
       object-fit: cover;
    }

    .suggest-song-item-content-div {
        color: white;
    }

    .path-to-suggest-songs {
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


/*
    bottom media playet
*/

    .add-song-to-library-icon {
        background-color: black;
    }

    .song-playing-now-container {
        display: flex;
        flex-direction: row;
        background-color: black;
        width: 100%;
        height: 80px;
        position: fixed;
        bottom:0cm
    }

    .media-player-play-icon {
        display: inline;
        border-radius: 50%;
        -webkit-transition: all 300ms ease;
    }
    .media-player-play-icon:hover {
        transform: scale(1.1);
    }

    .music-player-extra-settings {
        display: flex;
        justify-content: space-around;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }

    .song-playing-now-container {
        justify-content: space-between;
        align-items: center;
    
    }
    .icon-media-player-settings {
        height: 25px;
        width: 25px;
        color: rgba(255, 255, 255, 0.644);
    }

    .icon-hover:hover {
        color: white;
        transform: scale(1.1);
        -webkit-transition: all 300ms ease;
    }